# .editorconfig

# global setting
[*]
charset = utf-8                  # use UTF-8 encoding
end_of_line = lf                 # use Unix style newline （LF）
trim_trailing_whitespace = true  # remove whitespace after line
insert_final_newline = true      # insert newling to the end of file

# C language settings
[*.{c,h}]
indent_style = tab
tab_width = 8